[Unit]
Description=Update the %i squashed portage tree
Requires=network-online.target

[Service]
Type=oneshot
ExecStart=umount /var/db/repos/%i
ExecStart=tree-sinker %i
ExecStart=mount /var/db/repos/%i
