[Unit]
Description=Update the %i squashed portage tree
Requires=network-online.target

[Service]
Type=oneshot
ExecStart=umount /var/db/repos/%i; tree-sinker %i; mount /var/db/repos/%i;
