[Unit]
Description=Timer for updating %i squashed portage tree
Requires=network-online.target

[Install]
WantedBy=default.target

[Timer]
Persistent=yes
OnCalendar=*-*-* 01:00:00
Unit=update-squashed-portage-tree@%i.service
