[Unit]
Description=Mount gentoo squashed portage tree
ConditionFileNotEmpty=/var/db/repos/gentoo.sqfs

[Install]
WantedBy=local-fs.target

[Mount]
What=/var/db/repos/gentoo.sqfs
Where=/var/db/repos/gentoo
Type=squashfs
Options=noatime,ro,loop
